
.newsTitle{
    font-size: 1rem;
    color: var(--color-main);
    font-weight: 600;
    margin-bottom: var(--spacing-xs);
}

.newsItem {
    position: relative;
}

.newsContent {
    display: flex;
    gap: 1rem;
}
.newsImage{
    max-width: 100px;
    object-fit: cover;
    height: auto;
    aspect-ratio: 3/2;
    border-radius: 0.5rem;
}

.newsBadge {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99;
}


/* Mobile Responsive */
@media (max-width: 768px) {
    .newsItem {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    
    .newsDate {
        min-width: auto;
        align-self: center;
    }
    
    .newsBadge {
        position: static;
        align-self: center;
        margin-top: 1rem;
    }
}