/* member */
.memberList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}
.memberCard{
  padding: 1.5rem;  
}
.memberHeader{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.memberImage img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 8px;
} 
.memberPosition {
  font-size: 14px;
  color: #666666;
}
.memberTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.memberProfile p{
  line-height: 1.75;
  padding-bottom: 0.75rem;
}


.ownerCard{
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.ownerProfile{
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.75;
  width: calc(65% - 1.5rem);
}
.ownerProfile p{
  padding-bottom: 0.75rem;
}
.ownerProfile div:has(iframe){
  margin-bottom: 1.5rem;
}
.ownerVideo{
  width: 35%;
}

.guideCard{
  display: flex;
  gap: 1rem;
}
.guideCard > div {
  width: 50%;
}
.guideDescription{
  margin-bottom: 1rem;
}